* {
    margin: 0;
    padding: 0;
    outline: none;
    border: 0;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}
body {
    background-color: beige;
    box-shadow: inset 0 0 20px #0004;
    height: 100vh;
}