<HTML>

<HEAD>

<TITLE> PRECEPTORIA </TITLE>

</HEAD>

<BODY BGCOLOR="ORANGE"
<P><H1>PRECEPTORIA</H1></P>

<FORM>

<P>INGRESE UN NOMBRE: <INPUT TYPE="TETX"></P>
<P><INPUT TYPE="RADIO" NAME="ASISTENCIA" VALUE="ASISTIO">ASISTIO
<p><INPUT TYPE="RADIO" NAME="ASISTENCIA" VALUE="NO ASISTIO">NO ASISTIO

<P>INGRESE UN NOMBRE: <INPUT TYPE="TETX"></P>
<P><INPUT TYPE="RADIO" NAME="ASISTECIA" VALUE="ASITIO">ASISTIO
<P><INPUT TYPE="RADIO" NAME="ASISTENCIA" VALUE="NO ASISTIO">NO ASISTIO

<P>INGRESE UN NOMBRE: <INPUT TYPE="TETX"></P>
<P><INPUT TYPE="RADIO" NAME="ASISTECIA" VALUE="ASITIO">ASISTIO
<P><INPUT TYPE="RADIO" NAME="ASISTENCIA" VALUE="NO ASISTIO">NO ASISTIO

<P>INGRESE UN NOMBRE: <INPUT TYPE="TETX"></P>
<P><INPUT TYPE="RADIO" NAME="ASISTECIA" VALUE="ASITIO">ASISTIO
<P><INPUT TYPE="RADIO" NAME="ASISTENCIA" VALUE="NO ASISTIO">NO ASISTIO

<P>INGRESE UN NOMBRE: <INPUT TYPE="TETX"></P>
<P><INPUT TYPE="RADIO" NAME="ASISTECIA" VALUE="ASITIO">ASISTIO
<P><INPUT TYPE="RADIO" NAME="ASISTENCIA" VALUE="NO ASISTIO">NO ASISTIO

<P>INGRESE UN NOMBRE: <INPUT TYPE="TETX"></P>
<P><INPUT TYPE="RADIO" NAME="ASISTECIA" VALUE="ASITIO">ASISTIO
<P><INPUT TYPE="RADIO" NAME="ASISTENCIA" VALUE="NO ASISTIO">NO ASISTIO

<P>INGRESE UN NOMBRE: <INPUT TYPE="TETX"></P>
<P><INPUT TYPE="RADIO" NAME="ASISTECIA" VALUE="ASITIO">ASISTIO
<P><INPUT TYPE="RADIO" NAME="ASISTENCIA" VALUE="NO ASISTIO">NO ASISTIO

<P>INGRESE UN NOMBRE: <INPUT TYPE="TETX"></P>
<P><INPUT TYPE="RADIO" NAME="ASISTECIA" VALUE="ASITIO">ASISTIO
<P><INPUT TYPE="RADIO" NAME="ASISTENCIA" VALUE="NO ASISTIO">NO ASISTIO <DIV>



<input type ="button" NAME="GUARDAD DATOS"VALUE="GUARDAD">




</FORM>



</BODY>



</HTML>