<html>

<title> certificados medicos </title>

<!--etiquetas que forman el cuerpo-->
		<font face="BODONI MT BLACK" color="BLACK" align="CENTER"> <h2> "Certificado medicos" </h2> </font>
		<hr border="SOLID" size=6 color="RED">
		<p align="LEFT"> <font face="APARAJITA" color="BLACK" size="4"> <i> <b> </b> </i> </font> </p>


 <ol> <!--"Lista ordenada"--> 
                 <font color="black" size="3"> 
                 <a href="#ITEM-1"> <li> <!--Numeración de una lista"--> <b> Nombre del alumno</b> </li> </a>
                 <input/><br><br>
				 <form>
  <div class="nativeDatePicker">
    <label for="bday">fecha</label>
    <input type="date" id="bday" name="bday" />
    <span class="validity"></span>
  </div>
</form>
				 
<p><input type="file" name="botondeenvio" src="" alt="Enviar formulario"></p>
				 
<button name="button">Guardar</button>
				 
</html>

