<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/cuerpo.css">
</head>
<body>
    <div class="dashboard">
        <h1>-Alumnos-</h1>
        <div class="items-dashboard">
            <div class="line-div"></div>
            <a href="1 - pagina-principal.html">Página principal</a>
            <div class="line-div"></div>
            <a href="2 - datos-alumno.html">Datos del alumno</a>
            <a href="3 - estado-alumno.html">Estado del alumno</a>
            <a href="4 - historia-academica.html">Historia académica</a>
            <div class="line-div"></div>
            <a href="#">Requisitos de regularidad</a>
            <a href="#">Planes de estudio</a>
            <div class="line-div"></div>
            <a href="#">Materias</a>
            <a href="#">Asistencias e inasistencias</a>
            <a href="#">Horarios académicos</a>
        </div>
    </div>
    <div class="content">
        <h1>
            ¡Bienvenido!
        </h1>
        <p>
            Este es un sistema orientado a... Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam esse odio quidem repellendus ipsum ipsam quod libero facilis minus nostrum? Doloremque eius dolore voluptates at nihil pariatur? Earum, veritatis iusto.
        </p>
    </div>
</body>
</html>