<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/cuerpo.css">
    <title>Sistema de Alumnos</title>
</head>

<body>
    <div class="dashboard">
        <h1>-Alumnos-</h1>
        <div class="items-dashboard">
            <div class="line-div"></div>
            <a href="1 - pagina-principal.html">Página principal</a>
            <div class="line-div"></div>
            <a href="2 - datos-alumno.html">Datos del alumno</a>
            <a href="3 - estado-alumno.html">Estado del alumno</a>
            <a href="4 - historia-academica.html">Historia académica</a>
            <div class="line-div"></div>
            <a href="5 - requisitos-regularidad.html">Requisitos de regularidad</a>
            <a href="6 - planes-estudio.html">Planes de estudio</a>
            <div class="line-div"></div>
            <a href="7 - materias.html">Materias</a>
            <a href="8 - asist-inasist.html">Asistencias e inasistencias</a>
            <a href="9 - horarios-academicos.html">Horarios académicos</a>
        </div>
    </div>
    <div class="content">
        <h1>Asistencias e inasistencias</h1>
    </div>

</body>


</html>