<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    <link rel="stylesheet"href="style1.css">
</head>
<body>
    <header style="background-color: cadetblue;">
        <div><img src="escuela.jpg" alt="" class="cole"></div>
            <h2 class="textb">Bienvenido Al Sistema De Profesores.</h2>
    </header>
</body>
Asistencia y Notas<br>
Carreras <br>
Horarios <br>
Tabla de Trabajos y Notas<br>
</html>