<html>
<head
<title></title>
</head>
<body bgcolor="feldspar">

<br><b> Volver:</b><a href="MatrizTaller.html"> <img src="Volver.png" width="30" height="30"> </a> 
 <p><h4><center><u><font size="6" color="brown" face"Arial"> Inventario IPP </font></u></center></b></h4></p>
 
 
 
 
 
 
 			 <table width="50%" border="4" bgcolor="#CC99FF" align="center">			 
   <tr>
    <td style="background-color: #CC66FF"><center>COMPONENTES</center></td>
	<td style="background-color: #CC66FF"><center>FUNCIONES</center></td>
  </tr>
  <tr>
    <td><center><p><img src="monitor.jpg" width="150" height="150" /></p></center></td>
	<td>El monitor es el principal dispositivo de salida, también conocido como pantalla, muestra la información de tu equipo como imágenes y textos.</td>
 </tr>
  <tr>
    <td><center><p><img src="gabinete.jpg" width="150" height="150" /></p></center></td>
	<td>Es una caja metálica que contiene los principales componentes de hardware de una computadora: CPU, tarjeta madre, microprocesador,memoria,disco rígido y unidades internas.La principal función del gabinete es proteger estos componentes.</td>
 </tr>
  <tr>
    <td><center><p><img src="teclado.jpg" width="180" height="150" /></p><center></td>
	<td>Es uno de los principales dispositivos de entrada y sirve para introducir letras, símbolos, números o comandos que activan algún tipo de programa o una determinada acción.
 </tr>
 <tr>
    <td><center><p><img src="mouse.jpg" width="150" height="150" /></p></center></td>
	<td>Dispositivo de entrada diseñado para manipular objetos en la pantalla de la computadora y ayudarlo a usted, el usuario, a interactuar con la computadora.</td>
 </tr>
 <tr>
    <td><center><p><img src="altavoces.jpg" width="150" height="150" /></p></center></td>
	<td>Son los dispositivos que le dan salida de audio a la computadora, gracias a ellos puedes escuchar el sonido de la música o video que estés reproduciendo.Dependiendo del modelo, lo puedes conectar al puerto USB o al de audio.</td>
 </tr>
 </table>
 
 
 
 
 </body>
 </html>