<html>
<head
<title></title>
</head>
<body bgcolor="feldspar">
 <p><h4><center><u><font size="6" color="brown" face"Arial"> Base de Datos IPP</font></u></center></b></h4></p>
 

	<ol> <!--"Lista ordenada"--> 
                 <font color="black" size="3"> 
                 <a href="INVENTARIO_IPP.HTML#ITEM-1" target="INVENTARIO_IPP"> <li> <b> INVENTARIO. </li> </a>
                 <a href="REGISTRO_IPP.HTML#ITEM-2" target="REGISTRO_IPP"> <li> <b> REGISTRO. </b> </li> </a>
             
                 </font>
              </ol>
			 
				 			 

 </body>
 </html>