<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Sistema de Alumnos 4 c.s</title>
</head>


<header>

    <div class="header-container">
        <div class="logo-container">
            <a href="#">
                <img src="images/E.E.T..png">
            </a>
        </div>
        <h1>Sistema de alumnos.</h1>
    </div>

</header>


<body>
    <div class="page-content">
        <div class="dashboard">
            <h1>-Alumnos-</h1>
            <div class="items-dashboard">
                <a href="datos-alumno.html" id="selected-row">Datos del alumno</a>
                <a href="historia-academica.html">Historia académica</a>
                <a href="#">Requisitos de regularidad</a>
                <a href="#">Planes de estudio</a>
                <a href="#">Estado del alumno</a>
                <a href="#">Materias</a>
                <a href="#">Asistencias e inasistencias</a>
                <a href="#">Horarios académicos</a>
            </div>
        </div>
        <div class="content">
            <h1>Datos del alumno</h1>
            <p>Nombre: ---</p>
            <p>Apellido: ---</p>
            <p>DNI: ---</p>
            <p>Edad: ---</p>
            <p>Domicilio: ---</p>
            <p>Correo electrónico: ---</p>
            <p>Teléfono: ---</p>
            <p>Nombre del tutor: ---</p>
            <p>Teléfono del tutor: ---</p>
        </div>
    </div>
    

</body>


</html>