<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/encabezado.css">
</head>
<body>
    <header>

        <div class="header-container">
            <div class="logo-container">
                <a href="#">
                    <img src="images/E.E.T..png">
                </a>
            </div>
            <h1>Sistema de alumnos.</h1>
        </div>
    
    </header>
</body>
</html>