<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/panel.css">
</head>
<body>
    <div class="dashboard">
        <h1>-Alumnos-</h1>
        <div class="items-dashboard">
            <div class="line-div"></div>
            <a href="#">Página principal</a>
            <div class="line-div"></div>
            <a href="cuerpo.html:datos-alumno.html">Datos del alumno</a>
            <a href="#">Estado del alumno</a>
            <a href="historia-academica.html">Historia académica</a>
            <div class="line-div"></div>
            <a href="#">Requisitos de regularidad</a>
            <a href="#">Planes de estudio</a>
            <div class="line-div"></div>
            <a href="#">Materias</a>
            <a href="#">Asistencias e inasistencias</a>
            <a href="#">Horarios académicos</a>
        </div>
</body>
</html>