<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.cass">

</head>
<body>
    <div class="container">
        <div class="info">
        <p class="txt-1"> Gracias por ingresar a nuestra pagina web</p>
        <h2> BIENVENIDOS A TU COLEGIO VIRTUAL</h2>
        <hr />
        <P class="txt-2">
            Te ayudaremos a facilitar tu desarrollo en el y acompañeremos en el transcurso del tu ciclo electivo; 
            Con los auxiliares y profesores, asi lograremos un mejor desorrollo y trabajo en equipo. 
        </P>
        </div>
    </div>
 <form class="form">
    <h2>Login</h2>
    <div class="inputs">
        <input type="imail" class="box" placeholder="Ingrese su correo">
        <input type="password" class="box" placeholder="Ingrese su contraseña">
        <a href="#"> Olvidaste tu contraseña?</a>
        <input type="submit" value="Login" class="submit"     >
    </div>
 </form>




</body>
</html>